
* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: darkred;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
}

.new-note-button-div {
    text-align: center;
    margin-bottom: 40px;
}

.new-note-button {
    margin: 0 auto;
}

.all-notes {
    max-width: 60%;
    margin: 0 auto;
}

.note-properties {
    margin-bottom: 50px;
}

.note {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(255, 250, 240);
    min-height: 60px;
}

/* .note-header {
    margin: auto 10px;
} */

/* .note-body {
    margin: auto 10px;
} */

.note .body-edit-form {
    margin: auto 0;
    display: none;
}

.delete-text {
    display: none;
}

.note-edit-link {
    display: none;
}

/* .note:hover .note-options-div {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: -10px 2px auto auto;
} */

.note:hover .delete-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: -10px 2px auto auto;
    font-size: 28px;
    text-decoration: none;
    color: red;
}

.note:hover .note-edit-link {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* margin: -10px 2px auto auto; */
}

/* .note-body p {
    margin: 0 auto;
} */

.add-comment {
    margin: 10px 0 0 10%;
    text-align: right;
    width: 90%;
}

.comment-body {
    margin: 10px 0 0 10%;
    width: 90%;
}

.comment-body p {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding: 0 20px;
    border: 1px solid rgb(250, 240, 220);
}

.create-note {
    margin-bottom: 50px;
}

.create-note-header {
    text-align: center;
}

.note-delete {
    text-align: center;
    margin: 0 auto;
}

.note-delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}
