{% extends "notes/base.html" %}

{% block title %}Notes - Leave a Comment{% endblock %}

{% block content %}
    <div class='back-to-notes'>
        <a href='/'>Back to Notes</a>
    </div>
    <div class='create-note'>
        <div class='create-note-header'>
            <h2>Leave a Comment</h2>
        </div>
        <form method='POST' class='comment-form'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>Leave Comment</button>
        </form>
    </div>
{% endblock %}
