{% extends "notes/base.html" %}
{% load markdownify %}

{% block title %}Notes - {{note.title}}{% endblock %}

{% block content %}
<div class='back-to-notes'>
    <a href='/'>Back to Notes</a>
</div>
<div class='note'>
    <div class='note-header'>
        <h2>{{ note.title }}</h2>
        <p class='create-date'>{{ note.created_at }}</p>
    </div>
    <div class='note-body'>
        <p>{{ note.body|markdownify }}</p>
        <div class='delete-div'>
            <a href="/notes/{{ note.pk }}/delete" class='delete-text'>delete</a>
        </div>
    </div>
</div>

<div class='comment-hyperlink'>
        <a href="comment">Leave Comment</a>
</div>

{% for comment in note.comments.all %}
<div class='comment-body'>
    <p>{{ comment.comment }}</p>
</div>
{% endfor %}

{% endblock %}