{% extends "notes/base.html" %}

{% block title %}Notes - Delete Note{% endblock %}

{% block content %}
    <div class='note-delete'>
        <div class='note-delete-header'>
            <h2>Delete Your Note?</h2>
        </div>
        <p>Are you sure you want to delete {{ note.title }}?</p>
        <div class='note-delete-buttons'>
            <form method='POST' class='delete-button'>
                {% csrf_token %}
                {{ form }}
                <button type='submit'>Delete Note</button>
            </form>
            <button onclick="window.location.href='/';" class='cancel-button'>Cancel</button>
        </div>
    </div>
{% endblock %}
