{% extends "notes/base.html" %}
{% load markdownify %}

{% block head %}
    <script src='static/js/notes_list.js' defer></script>
{% endblock %}

{% block content %}


<div class='new-note-button-div'>

    <button onclick="window.location.href='/notes/new-note'" class='new-note-button'>Create a New Note</button>
    
</div>


<div class='all-notes'>


    {% for note in notes %}


        <div class='note-properties'>
            

            <div class='note'>


                <h2 class='note-header'>{{ note.title }}</h2>

                <p class='note-body'>{{ note.body|markdownify }}</p>

                <form action="{% url 'note_edit' pk=note.pk %}" method='POST' class='body-edit-form' id='body-edit-form-{{ note.pk }}'>
                    {% csrf_token %}
                    <input class='body-edit-input' type='text' name='body' value='{{ note.body }}'>
                </form>
                
                <a class='note-edit-link' data-item-pk="{{ item.pk }}">Edit</a>
                <a href='/'class='edit-cancel'>Cancel</a>

                <a class='note-delete-link' data-item-pk='{{ item.pk }}'>x</a>
                
                <form action="{% url 'note_delete' pk=note.pk %}" method='POST' class='delete-note-form' id='delete-note-form-{{ note.pk }}'>
                    {% csrf_token %}
                    {{form}}
                    <p>Delete <strong>{{ note.title }}</strong>?</p>
                    <button type='submit' class='delete-button'>Delete</button>
                    <a href='/';" class='cancel-button'>Cancel</a>
                </form>


            </div>

            <div class='add-comment-div'>
                <form action="{% url 'add_comment' pk=note.pk %}" method='POST' class='comment-form' id='comment-form-{{ note.pk }}'>
                    {% csrf_token %}
                    {{ form }}
                    <input class='comment-input' type='text' name='comment' value='{{ comment.comment }}'>
                </form>
                <button type='submit' class='comment-button'>Add Comment</button>
            </div>

            
            {% for comment in note.comments.all %}
                <div class='comment-body'>
                    <p>{{ comment.comment }}</p>
                </div>
            {% endfor %}
            

        </div>


    {% endfor %}


</div>


{% endblock %}
